$GREY: #424242;
$BACKGROUND: #606060;
$WHITE: #FFF;

body {
    margin: 0;
    padding: 0;
    outline: 0;
    display: block;
    font-family: 'Roboto',
        sans-serif;
    font-size: 15px;

    color: $BACKGROUND;
    text-rendering: optimizelegibility;

    .shadow {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15),
            0 3px 10px 0 rgba(0, 0, 0, 0.15);
    }

    #profile {
        animation-delay: 500ms;
        animation-duration: 1000ms;
        width: 200px;
        height: 200px;
        z-index: 1;
        display: block;
        border-radius: 50%;
        background-color: #fff;
        padding: 5px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2),
            0 3px 10px 0 rgba(0, 0, 0, 0.2);

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    .about {
        margin-top: 75px;

        .left {}

        .right {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}